@model AlbumViewModel;

@{
    ViewBag.Title = "Edit Album";
}

@if (ViewBag.Message != null)
{
    <div roll="alert" class="alert alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>Modifica album:</div>
        <hr>
        @Html.HiddenFor(model => model.ID) 
        <div class="form-group">
            @Html.LabelFor(model => model.Titolo, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titolo)
            </div>
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.IdBrani, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdBrani)
            </div>
        </div>
         <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.IdBand, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdBand)
            </div>
        </div>
         <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.AnnoUscita, htmlAttributes: new {@class = "label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnoUscita)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-primary"/>
            </div>
        </div>

    </div>
}


<div>
    @Html.ActionLink("Indietro","ElencoAlbum")
</div>

